@{
  Layout = "_Layout";
}

<div class="addcuisineinputbox well" style="border:none">
<form action="/cuisine/add" method="post">
  <label for="new-cuisine">Enter Cuisine Type</label>
  <input type="text" name="new-cuisine" id="new-cuisine">
  <br>
  <br>
  <button type="submit" name="button">Add</button>
</form>
</div>
