@{
  Layout = "_Layout";
}

<form action="/cuisine/add" method="post">
  <label for="new-cuisine">Enter Cuisine Name</label>
  <input type="text" name="new-cuisine" id="new-cuisine">
  <button type="submit" name="button">Add</button>
</form>
