@{
  Layout = "_Layout";
}

<div class="w3-container">
  @* <h1>Northwest's Best Restaurants</h1> *@
  <img src="/img/Header.jpg" width="1634" height="400px">
</div>

<div class="well" id="bodytext" style="border:none">
  <h1 id="cuisinetitle">Cuisine Types</h1>

  @if (@Model.Count == 0)
  {
    <h3 id="underline" class="cuisinetypes">No cuisine types have been added yet.</h3>
  }

  @foreach (var type in Model)
  {
    <h3 id="underline" class="cuisinetypes"><a href='/cuisine/@type.Id'>@type.Name</a></h3>
  }
<br>

<h2 id="underline"><a href='/cuisine'>Add cuisine type</a></h2>

</div>
