@{
  Layout = "_Layout";
}
<h1>Cuisine Types</h1>

@if (@Model.Count == 0)
{
  <h3>No cuisine types have been added yet.</h3>
}

@foreach (var type in Model)
{
  <h3><a href='/cuisine/@type.Id'>@type.Name</a></h3>
}

<p><a href='/cuisine'>Add cuisine type</a></p>
