@{
  Layout = "_Layout";
}
<h3>@Model.Name Details</h3>
<p>Address: @Model.Address</p>
<p>Phone Number: @Model.PhoneNumber</p>
<p>Best Dish: @Model.BestDish</p>

<p><a href="/cuisine/@Model.CuisineId/restaurant">Go Back</a></p>
<p><a href="/">Return Home</a></p>
